<FluentCard Width="@CardWidth" Height="@CardHeight" style="display: flex; flex-direction: column; padding: 10px;">
    <p style="background: #f5f5f5; height: 100%; display: flex; align-items: center; justify-content: center; color: #666;">[Image Placeholder @CardTitle]</p>
</FluentCard>

@code {
    [Parameter]
    public string? CardTitle { get; set; }

    [Parameter]
    public string? CardWidth { get; set; }

    [Parameter]
    public string? CardHeight { get; set; }
}