@page "/"
@using FluentBlazor_Project.Data.Models
@using FluentBlazor_Project.Interface
@inject IStringLocalizer<Resource> Localizer
@inject ICategoryService _categoryService

<PageTitle>Electromark</PageTitle>
<h1>Electromark</h1>
<FluentDivider />

<h2>@Localizer["homeRecommended"]</h2>
<div style="display:flex; justify-content:center">
    <FluentHorizontalScroll Style="@($"width: {Width}; height: {Height}; margin-bottom: 20px")" Speed="1200" Easing="ScrollEasing.EaseInOut">
        @foreach (Category category in categoriesDB)
        {
            <RecommendedCard CardTitle=@category.Title.ToString() CardHeight=@Height CardWidth=@Width />
        }
    </FluentHorizontalScroll>
    <FluentDivider />
</div>

<h3 Style="margin-top:20px">@Localizer["homeCategory"]</h3>
<div>
    <FluentStack HorizontalGap="30" Style="display:flex; justify-content:center">
        @foreach(Category category in categoriesDB)
        {
            <CategoriesCard CardTitle=@category.Title CardCategory=@category.CategoryName ImageUrl="@category.Images.ImagePath" />
        }
    </FluentStack>
    <FluentDivider />
</div>


@code {
    List<Category> categoriesDB = new();
    protected override async Task OnInitializedAsync()
    {
        categoriesDB = await _categoryService.GetCategoriesAsync();
    }
    public string Height = "350px";
    public string Width = "1200px";
}